/* common */
:root {
  --light-gray: #727272;
  --dark-gray: #424242;
  --orange: #ff900e;
  --white: #ffffff;
  --primary-font: "work sans";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--primary-font);
}
/* header */
.header {
  background: rgba(255, 144, 14, 0.1);
}
.container {
  margin: 0 50px;
}
.nav {
  display: flex;
  justify-content: space-between;

  padding-top: 50px;
}
.nav ul {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  gap: 35px;
  list-style: none;
  color: #424242;
}
.section_title--primary {
  font-weight: 700px;
  font-size: 45px;
}
/* banner */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  gap: 32px;
  margin-top: 102px;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700px;
  font-size: 64px;
}
.section_des--primary {
  font-weight: 400;
  font-size: 16px;
  color: var(--light-gray);
}
.button--primary {
  background-color: var(--orange);
  color: var(--white);

  border-radius: 8px;
  border: none;
}
.banner-button {
  font-weight: 600;
  font-size: 20px;
  padding: 21px 24px;
}
.banner img {
  border-radius: 8px;
  margin-bottom: 45px;
}
/* main */
/* Features */

.Features-container {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 60px;
  margin: 85px 0px;
}
.Features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.Features-img img {
}

.Features-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 24px;
}
.Features-details h3 {
  font-weight: 500;
  font-size: 45px;
}

.first {
  color: var(--light-gray);
  font-weight: 500;
}
.middle {
  font-weight: 700;
}
.last {
  color: var(--orange);
  font-weight: 700;
}
/* enjoys */
.enjoys {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
  gap: 90px;
  margin-top: 120px;
}
.archi button {
  position: relative;
  top: -120px;
  right: 70px;
  padding: 30px 42px;
}
.exp {
  font-weight: 500;
  font-size: 25px;
}
.A p {
  background-color: var(--orange);
  width: 5px;
  height: 100px;
}
.A {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 44px;
}
.enjoy-des {
  margin-bottom: 60px;
}
.box {
  padding: 20px 30px 40px 40px;

  margin-bottom: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.box h4 {
  margin-bottom: 10px;
}

.section_title--secondary {
  font-weight: 600;
  font-size: 20px;
}

/* facts */
.facts {
  display: flex;
  flex-direction: column;

  gap: 50px;
}

.fact {
  margin-left: 80px;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  gap: 85px;
  margin-left: 100px;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 25px;
  border: 1px solid var(--orange);
  border-radius: 8px;
  transition: transform 0.9s;
}
.icon:hover {
  transition: transform 0.5s;
  transform: scale(50%) rotate(360deg);
  border-color: #727272;
  border-radius: 30%;
}
.icon .p1 {
  font-weight: 600;
  font-size: 45px;
  color: var(--dark-gray);
}

.icon .p2 {
  font-weight: 600;
  font-size: 20px;
  color: var(--light-gray);
}

/* sponsors */
.Sponsors {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  margin-top: 109px;
}

.Sponsor-icon {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  background-color: #727272;
  background-color: #ffffff;
}
.Sponsor-icon img {
  mix-blend-mode: luminosity;
}
/* contact */
.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  gap: 50px;
  background-color: darkblue;
  border: 10px solid rebeccapurple;
  color: white;
  border-radius: 80px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 50px;
}
.Contact-icon {
  display: flex;
}
.Contact-icon img {
  width: 30%;
}
/* footer */
.footer-des {
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-gray);
  padding: 39px 300px;
  background: #fff4e7;
  border-radius: 8px;

  margin: 120px 120px 30px 120px;
  text-align: center;
}

/* media */

@media only screen and (max-width: 688px) {
  .section_title--primary {
    font-size: 25px;
  }
  .nav ul {
    flex-direction: column;
    font-size: 16px;
  }
  .banner-title {
    font-size: 32px;
  }
  .section_des--primary {
    font-size: 14px;
  }
  .banner-button {
    font-size: 11px;
    padding: 10px 11px;
  }
  .banner img {
    width: 100%;
  }
  .Features-img img {
    width: 100%;
  }
  .Features-container {
    flex-direction: column;
    padding: 0 40px;
  }

  .enjoys {
    flex-direction: column;
  }
  .archi img {
    width: 100%;
  }
  .archi button {
    padding: 10px 12px;
    top: -40px;
  }
  .exp {
    font-size: 15px;
  }
  .fact {
    margin-left: 40px;
  }
  .icons {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-left: 0;
  }
  .Sponsor-icon {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .Sponsor-icon img {
    width: 60%;
  }

  .footer-des {
    font-size: 10px;

    padding: 10px 15px;
    margin: 8px 8px;
  }
  .Contact-icon img {
    width: 60%;
  }
  footer {
    margin-top: 60px;
  }
}
